#newFile{
  background: url(https://img.freepik.com/premium-photo/pixel-art-style-landscape-with-lake-mountains-background_720722-1148.jpg);
  height: 100%;
  width: 100%;
  background-position: center;
  background-size: cover;
  position: relative;
  flex-direction: column;
  justify-content: center;
  
}
#newFile.active{
  display: flex;
}

#newFile::before{
  content: '';
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.4;
}
#newFile > *{
  position: relative;
  z-index: 1;

}

#welcomeScreen{
  display: flex;
  flex-direction: column;
  background-color: #202020;
  width: 400px;
  height: 400px;
  border-radius: 5px;
  
  
}
.imagePartition{
  flex: 1;
  width: 100%;
  /* background: url('../sources/CyclesSaturno.png'); */
  background-position: center;
  background-position-y:0px ;
  background-size: cover;
  position: relative;
  overflow: hidden;
  border-radius: 5px 5px 0px 0px;
}
.imagePartition img{
  position: absolute;
  top: 0;
  width: 100%;
  transform: rotateY(180deg);
  filter: blur(1px);
  z-index: -1;

}
.imagePartition h1{
  color: #ffffff;
  font-size: 25px;
  margin-left: 10px;
  margin-top: 5px;
}


.optionsPartition{
  flex: 1;
  width: 100%;
  display: flex;
  flex-direction: row;

}
.optionsPartition > div{
  flex: 1;
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
  display: flex;
  flex-direction: column;
}
.file-options{
  gap: 5px;
  align-items: flex-start;
}


.file-options span{
  position: absolute;
  border-right: #ffffff60 solid 1px;
  height: 95%;
  width: 0px;
  right: 0;
  margin-top: 2.5%;
}

.optionsPartition > div h1{
  color: #dddddd;
  font-size: 14px;
  margin-left: 15px;
  margin-top: 5px;

}
.file-options div{
  display: flex;
  flex-direction: row;
  margin-left: 20px;
  align-items: center;
  gap: 5px;
  color: #dddddd;
  transition: 0.2s;
}
.file-options div:hover{
  cursor: pointer;
  color: #ffffff;
  text-decoration: underline;
}

