@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
  margin: 0 auto;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;

}


html, body{
  width: 100%;
  height: 100%;

}
body{
  align-items: center;
  justify-items: center;

}

.page{
  display: none;
}
#workSpace{
  width: 100%;
  height: 100%;
  background-color: rgb(39, 39, 39);
}
#workSpace.active{
  display: flex; 
  flex-direction: column;


}

.menuBar{
  height: 30px;
  min-height: 30px;
  width: 100%;
  background-color: #303030;
  display: flex;
  padding-bottom: 5px;
  flex-direction: row;
  align-items: center;
  position: relative;  
  gap: 15px;
} 
.menuBar > *{
  margin: 0;

}
.menuBar img{
  margin-left: 5px;
  height: 30px;
  cursor: pointer;
}
.buttons-menuBar{    
  display: flex;
  align-items: center;
  height: 22px;
  cursor: pointer;
  padding: 0px 5px ;
  border-radius: 5px;
}
.buttons-menuBar:hover{  background-color: rgba(255,255,255,0.06);}
.buttons-menuBar:hover > h1{
  color: #ffffff;

}

.buttons-menuBar > h1{
  color: #e5e7eb;
  font-size: 14px;
  text-align: center;
}

.centerArea{
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  align-items: center;
  overflow: hidden;
  flex: 1;
  background-color: #303030;
}
#toolbar{
  /* position: absolute; */
  width: 40px;
  height: 100%;
  background-color: #303030;
  margin: 0px;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 5px;
  transition: 0.2s;
}
#toolbar.hidden{
  margin-left: -40px;
}

.tool{
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  aspect-ratio: 1/1;
  width: 30px;
  background-color: #171717;
  border-radius: 5px;
  cursor: pointer;
  user-select: none;
  transition: 0.2s;
  text-align: center;
  font-size: 14px;
}
.tool:hover{
  background-color: #202020;
  font-size: 16px;
}




.viewport{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  background-color: #171717;
  border-radius: 10px 0px 0px 0px;
  flex: 1;

}
#canvasArea{
  width: 500px;
  height: 200px;
  background-color: #dddddd;

}
#propertiesPanel{
  height: 100%;
  background-color: red;
  width: 0%;
  /* width: 10%; */
  max-width: 25%;
  min-width: 10px;


}


.timeline{
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 10%;
  max-height: 30%;
  min-height: 10px;
  background-color: rgb(37, 37, 37);
  position: relative;
  justify-content: center;
}
