@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
  margin: 0 auto;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;

}


html, body{
  width: 100%;
  height: 100%;

}
body{
  align-items: center;
  justify-items: center;

}

.page{
  display: none;
}
#workSpace{
  width: 100%;
  height: 100%;
  background-color: rgb(39, 39, 39);
}
#workSpace.active{
  display: flex; 
  flex-direction: column;


}

.menuBar{
  height: 30px;
  min-height: 30px;
  width: 100%;
  background-color: blue;
  display: flex;
  flex-direction: row;


}
.centerArea{
  display: flex;
  flex-direction: row;
  width: 100%;
  flex: 1;
  background-color: greenyellow;
}
.timeline{
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 20%;
  max-height: 30%;
  min-height: 30px;
  background-color: red;
  position: relative;
  justify-content: center;
}
