.timeline{
  display: flex;
  flex-direction: column;
  width: 100%;
  /* height: 110%; */
  height: 0%;
  max-height: 30%;
  min-height: 10px;
  background-color: #252525;
  position: relative;

}

.timeline-header{
  width: 100%;
  background-color: #202020;
  padding: 2px 0px;
  height: 32px;
  display: flex;
  flex-direction: row;

}

.timeline .icon-buttons{
  border: none;
}

.timeline .icon-buttons:hover{ background-color: #2b2b2b;}
.timeline .icon-buttons.b:hover{ background-color: transparent ;}


.icon-buttons > .SVG-icon{
  height: 90%;
  width: 90%;
  fill: white;
  stroke: white;

  
}

.icon-buttons.rotate > .SVG-icon{
  transform: rotateZ(180deg);
}

#settings{
  display: flex;
  flex-direction: row;
  align-items: center;
  flex: 2;
  height: 100%;
  /* background-color: green; */


}
#controls{
  display: flex;
  flex-direction: row;
  align-items: center;
  /* flex: 1; */
  height: 100%;
  /* background-color: blue; */
  border-left: 2px solid #ffffff40;
  border-right: 2px solid #ffffff40;

  padding: 0px 5px;
  gap: 2px;
}
#controls .play-pause{
  display: flex;
  flex-direction: row;
  align-items: center;

}



#status{
  display: flex;
  flex-direction: row;
  align-items: center;
  flex: 2;
  height: 100%;
  /* background-color: green; */


}

.group-js{
  display: flex;
  flex-direction: row;
  gap: 5px;
  height: 100%;

}

.group-label-input{
  background-color: #3d3d3d;
  height: 90% ;
  width: fit-content;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px 5px;
  border-radius: 5px;
  overflow: hidden;

}

.group-label-input > h1, 
.group-label-input > input{
  font-size: 14px;
  text-align: center;
  color: #dddddd;
  width: 60px;
  background-color: transparent;
  border: none;
}
.group-label-input > h1{
  width: auto;
  margin-right: 2px;
}

.group-label-input > input[type=number]::-webkit-inner-spin-button,
.group-label-input > input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.input-ctrl{
  width: 20px;
  height: 100%;
  margin: 0;
  border-radius: 0;
  background: transparent;
}
.input-ctrl > svg{
  scale: 1.5 2;
}

.input-stepper-js.r{ text-align: right; }
.input-stepper-js.l{ text-align: left; }

.input-ctrl.h{
  opacity: 0;
  transition: 0.2s;
}
.group-label-input:hover .input-ctrl.h{
  opacity: 1;

}
.timeline-viewport{
  background-color: #aaa;
  height: 120px;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
  overflow-x: auto;
  /* justify-content: center; */
}
.timeline-viewport::-webkit-scrollbar {
  height: 8px;
  background-color: transparent;
}
.timeline-viewport::-webkit-scrollbar-thumb {
  background: #00000060;
  border-radius: 10px;
}
.timeline-viewport::-webkit-scrollbar-thumb:hover{background: #000000B0;}

#frameArea{
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
}


.Frame{
  background-color: white;
  height: 70px;
  width: 120px;
  min-width: 120px;
  user-select: none;
  margin: 3px;
  display: block;

  border: solid #00000000 3px;
}
.Frame.active{
  position: relative;
  border: solid #0e9fe7 3px;
  margin: 0;
  display: flex;
  justify-content: center;
}
.Frame.JSframeDragMargin{
  margin-left: 132px;
}

.Frame.active::after{  
  content: '';
  position: absolute;
  width: 20px;
  height: 20px;
  bottom: 60px;
  border-radius: 50%;
  background: radial-gradient(#ffffff 40%, #0e9fe7 40%);
}

.Frame.active:hover{  border: solid #0e9fe7 3px; margin: 0; scale: 1; transition: 0.1s; }
.Frame:hover{ border: solid #ff4c4c 3px; scale: 1 1.15; transition: 0.1s;}

.timeline-info{
  display: flex;
  flex-direction: row;
  align-items: center;
  color: #dddddd;
  margin-right: 20px;
  gap: 10px;
}
