
.splitter{
  background-color: rebeccapurple;

  display: flex;
  align-items: center;
  justify-content: center;

}
.splitter.v{
  height: 100%;
  width: 10px;
  cursor: col-resize;
}
.splitter.h{
  width: 100%;
  height: 10px;
  cursor: row-resize;

}

.splitter.h .splitter-icon{
  height: 100%;
  width: 50px;
  pointer-events: none;

}
.splitter.v .splitter-icon{
  height: 50px;
  width: 100;
  pointer-events: none;
  rotate: 90deg;
}
