
.splitter{
  background-color: inherit;

  display: flex;
  align-items: center;
  justify-content: center;

}
.splitter{
/* .splitter:hover{ */
  background-color: #5b21b6;
  
}

.splitter.v{
  margin-left: 0px;
  height: 100%;
  width: 10px;
  cursor: col-resize;
}

.splitter.h{
  width: 100%;
  height: 10px;
  cursor: row-resize;

}

.splitter.h .splitter-icon{
  height: 100%;
  width: 50px;
  pointer-events: none;

}
.splitter.v .splitter-icon{
  height: 50px;
  width: 100;
  pointer-events: none;
  rotate: 90deg;
}


#toggleToolbar{
  position: absolute;
  height: 25px;
  width: 25px;
  background-color: #303030;
  color: white;
  bottom: 0;
  left: 100%;
  z-index: 10;
  border-radius: 0px 5px 5px 0px;
  text-align: center;
}
.toggle-icon{
  stroke: white;
  stroke-width: 3px;
  transform: rotateZ(180deg);
  stroke-linecap: round;
  stroke-linejoin: round;
  transition: 0.2s;
}
.toggle-icon.rotate{
  transform: rotateZ(0deg);

}
.activeTool{
  background-color: #2b21b6;
  
}
.activeTool:hover{
  background-color: #5f6bdb;

}