/* --dark-gray: #ffbcde;  */

/* :root{
  --dark: #171717;
  --light-darker: #202020;
  --dark-gray: #303030;
  --gray: #3d3d3d;
  --light-gray: #505050;
  --text-color: #dddddd;

} */

:root{
  --dark: #050b20;
  --light-darker: #252544;
  --dark-gray: #272753;
  --gray: #36365c;
  --light-gray: #47477e;
  
  --text-color: #dddddd;

}


/*
  **dark-blue: 
  --dark-gray: #303050;
  --dark: #171727;


*/
